.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: auto 0;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #00583D;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    position: absolute;
	width: 76.76px;
	height: 40px;
	left: 82px;
	top: 48px;
}

#sidebar ul.components {
	width: 250px;
    position: absolute;
	top: 200px;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#sidebar .sidebar-footer {
	position: relative;
	left: 29px;
	top: 90%;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
}
.Header-Page{
	position: relative;
	left: 5%;
	top: 10%;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #333333;
}
#content .profil {
	position: relative;
	left: 100%;
}
