body {
  background-image: url("../img/Login/bg.jpg");
  background-repeat: no-repeat;
}
.logo{
	position: absolute;
	left: 15.43%;
	right: 72.73%;
	top: 12.35%;
	bottom: 80.99%;
}
.box {
	position: absolute;
	left: 60%;
	right: 0%;
	top: 0%;
	width: 475px;
	height: 553px;
	padding: 50px;
	margin: 20px;
	bottom: 0%;
	background: #FFFFFF;
	box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
.text {
	position: absolute;
	left: 15.43%;
	right: 17.71%;
	top: 20.74%;
	bottom: 65.93%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 54px;
	color: #FFFFFF;
}
.login-title {
	position: absolute;
	left: 12.21%;
	right: 12%;
	top: 12.66%;
	bottom: 79.02%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 46px;
	color: #00583D;
}
.subtitle{
	position: absolute;
	left: 12.21%;
	right: 12%;
	top: 20.98%;
	bottom: 75.59%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #00583D;
}
.copyright {
	position: absolute;
	left: 3.31%;
	right: 78.29%;
	top: 91.36%;
	bottom: 3.95%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #FFFFFF;
}
.form-title {
	position: absolute;
	left: 12%;
	right: 12%;
	top: 34.54%;
	bottom: 61.48%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.NIP {
	position: absolute;
	left: 12.21%;
	right: 12%;
	top: 35.96%;
	bottom: 51.9%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.password {
	position: absolute;
	left: 12.21%;
	right: 12%;
	top: 51.72%;
	bottom: 44.3%;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.tombol {
	position: absolute;
	left: 12.21%;
	right: 12%;
	top: 78.3%;
	bottom: 12.66%;
}